apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: quickpoll
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
  - host: quickpoll.local
    http:
      paths:
      - path: /api/
        pathType: Prefix
        backend:
          service:
            name: api
            port:
              number: 8000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: web
            port:
              number: 80
